// Colors
$primary-color                         =   #0d326e
$secondary-color                       =   #69B0E1

$default-color                         =   #606266
$white-color                           =   #ffffff

$grey-100-color                        =   #f6f9fc

// Typography
$family-primary                        =   'Lato', sans-serif