$form-font-size = 1rem

.el-form-item__label
  font-size $form-font-size
  font-weight 600

.el-input__inner
.el-textarea__inner
  background-color $grey-100-color
  border 0
  font-size $form-font-size

.el-textarea__inner
  min-height 140px

@media only screen and (max-width: 768px)
  .el-form-item__label
    width 100% !important
  
  .el-form-item__content
    width 100% !important
    margin-left 0 !important